* {
    margin: 0;
    padding: 0;
}

#todo {
    width: 200px;
    height: 45px;
}

#todo-container {
    display: flex;
    flex-direction: column;
}

#todo-list {
    display: flex;
    flex-direction: column;
}